<div class="main-div">
    <mat-card>
        <mat-card-header>
            <mat-title>Please enter credentials here</mat-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <p>
                        <mat-form-field appearance="outline" color="accent">
                            <input matInput formControlName="username" id="username" name="username"
                                placeholder="username" />
                        </mat-form-field>
                    </p>
                    <p>

                        <mat-form-field appearance="outline" color="accent">
                            <input matInput formControlName="password" id="password" name="password"
                                placeholder="password" type="password" />
                        </mat-form-field>
                    </p>
                </div>
                <div class="form-group submit-button">
                    <button mat-flat-button color="accent">
                        login
                    </button>
                </div>
            </form>
            <!-- <pre>
    {{ formLogin.value | json }}
  </pre>
            <pre>
    {{ formLogin.status }}
  </pre> -->
        </mat-card-content>
    </mat-card>
</div>