<nav>
    <app-menu [isAdmin]="isAdmin"></app-menu>
</nav>
<div class="main-div">
    <mat-card>
        <mat-card-header>
            <mat-title>
                <h2>Please edit course</h2>
            </mat-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formCourse" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <h3>
                        <div *ngIf="course.id">Course id: {{course.id}}</div>
                        <div *ngIf="!course.id">Course id: (Id is not generated yet)</div>
                    </h3>
                    <p>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Course name</mat-label>
                            <input matInput formControlName="courseName" id="courseName" name="courseName"
                                placeholder="Enter course name" type="text" />
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Course duration in weeks</mat-label>
                            <input matInput formControlName="duration" id="duration" name="duration"
                                placeholder="Enter course duration in weeks" type="text" />
                        </mat-form-field>
                    </p>
                </div>
            </form>
            <!-- <pre>
    {{ formCourse.value | json }}
  </pre>
            <pre>
    {{ formCourse.status }}
  </pre> -->
        </mat-card-content>
        <mat-card-actions>
            <div>
                <button *ngIf="course.id" mat-raised-button color="warn" (click)="delete()">Delete course</button>
                &nbsp;
                <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>