<div class="main-div">
    <mat-card>
        <mat-card-header>
            <mat-title><h2>Courses list</h2></mat-title>
        </mat-card-header>
        <mat-card-content>
            <mat-table [dataSource]="coursesDataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                    <mat-cell *matCellDef="let course"> {{course.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="courseName">
                    <mat-header-cell *matHeaderCellDef> Course name</mat-header-cell>
                    <mat-cell *matCellDef="let course"> {{course.courseName}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="selectRow(row)"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                aria-label="Select page of courses list">
            </mat-paginator>
            <mat-action>
                <mat-button mat-list-item>add course</mat-button>
            </mat-action>
        </mat-card-content>
    </mat-card>
</div>